<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>

		<link rel="stylesheet" href="{{asset('assets/css/style.css')}}">
		<link rel="stylesheet" href="{{asset('assets/css/styletablette.css')}}">
		<link rel="stylesheet" href="{{asset('assets/css/styletelephone.css')}}">



	</head>
	<body>

		<header>
			<div class="barrenavigation">
				<p class="pheader">
					<strong class="logoheader">
						BR
					</strong>
					<a href="{{path('app_accueil')}}">Architects</a>
				</p>
				<nav>
					<ul class="navigation">
						<li class="nav">
							<a href="{{path('projects')}}">Projects</a>
						</li>
						<li class="nav">
							<a href="{{path('app_about')}}">About</a>
						</li>
						<li class="nav">
							<a href="{{path('app_contact')}}">Contact</a>
						</li>
					</ul>
				</nav>
				<img src="Logo" alt="">
			</div>
			<img src="" alt="">
			<div class="imagetop">
				<img src="assets/img/architect.jpg" alt="" class="imagetop">
				<p class="logoimg">
					<strong class="logoheader2">
						BR
					</strong>
				</p>
				<p class="logoarchi">Architects</p>
			</div>

		</header>
		{% block body %}{% endblock %}
		<footer>
			<div class="footer">
				<p>Powered by
					<a href="">Footer</a>
				</p>
			</div>
		</footer>


	</body>

</html>
